* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-size: x-large;
    color: black;
}

body {
    display: flex;
    flex-flow: column;
}

.content {
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.links {
    display: flex;
    gap: 3vw;
}

img {
    display: block;
}

.items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    justify-self: flex-end;
}

a {
    text-decoration: none;
}

.center-content {
    margin: 5vh 10vw;
}

.tiles {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5vh;
}

.tile-text {
    text-align: center;
    margin-top: 2vh;
}

footer {
    text-align: center;
}

.tile-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 24%;
}

.tile-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo a {
    font-weight: bold;
    font-size: xx-large;
}

.hero-main {
    font-weight: bold;
    font-size: 1.1rem;
}

.hero-second {
    font-size: 0.9rem;
}

.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero>div {
    width: 50%;
}

.info {
    text-align: center;
}

.quote { 
    display: flex;
    flex-flow: column;
}

.author {
    align-self: flex-end;

}
/* Medium screens: 2 tiles per row */
@media (max-width: 1023px) {
    .tile-container {
        width: 49%;
    }

    .hero {
        flex-flow: column;
        text-align: center;
        row-gap: 5vh;
    }

    .hero>div {
        width: 100%;
    }

    .items {
        row-gap: 5vh;
    }
}

/* Small screens: 1 tile per row */
@media (max-width: 767px) {
    .tile-container {
        width: 100%;
    }
}